@use "vars";
@use "typography";

.card-t-f{
    @include typography.set-font(vars.$ff-lato, vars.$fw-bold, vars.$fs-base);
}

.card-d-f{
    @include typography.set-font(vars.$ff-lato, vars.$fw-reg, vars.$fs-min);
}

.btn-card-f{
    @include typography.set-font(vars.$ff-lato, vars.$fw-light, vars.$fs-base);
    color: white;
    background-color: #3A4F70;
    display: inline-block;
    align-self: flex-start;
    text-decoration: none;
    padding: 3px 8px;
    margin: 13px 0;
    margin-top: auto;
    border-radius: 5px;
    transition: 0.15s ease-in-out;
}
.btn-card-f:hover{
    background: #801414;
    color: white;
}
