.category-card{ 
    background-size: cover; 
    background-repeat: no-repeat;
    background-blend-mode:multiply;
    width: 100%;
    align-items: center;
    }
    
    .img-dep{
        background-image: url('../imgs/08.jpg');
    }
    
    .img-ent{
        background-image: url(../imgs/07.png);
    }
    
    .img-fin{
        background-image: url(../imgs/05.jfif);
    }
    
    .img-sal{
        background-image: url(../imgs/01.jpg);
    }
    
    .img-tec{
        background-image: url(../imgs/04.jfif);
    }
    
    .img-pol{
        background-image: url(../imgs/09.jpg);
    }
    
    .img-via{
        background-image: url(../imgs/01.jfif);
    }