$ff-libre: 'Libre Bodoni', serif;
$ff-lato: 'Lato', sans-serif;

$fw-light: 300;
$fw-reg: 400;
$fw-bold: 700;

$fs-min: 0.75rem; //12px
$fs-base: 0.875rem; //14px
$fs-sm: 1.1rem; //24px
$fs-xmed: 1.75rem; //28px
$fs-med: 1.875rem; //30px
$fs-big: 2.625rem; //42px

