@use "vars";
@use "typography";
@use "cards-dt";
@use "dtprofile";

.title-f{
    @include typography.set-font(vars.$ff-libre, vars.$fw-reg, vars.$fs-big);
}

.nav-1{
    background-color: #770707e0;
}

.nav-f{
    @include typography.set-font(vars.$ff-lato, vars.$fw-reg, vars.$fs-base);
}

.nab-f-2{
    @include typography.set-font(vars.$ff-lato, vars.$fw-bold, vars.$fs-sm);
}

.line-hero { 
    position: static;
    margin-top: 4rem;
    border-bottom: 1.5px solid rgb(22, 22, 22); 
}

.line-footer { 
    position: static;
    margin-top: 2rem;
    border-bottom: 1.5px solid rgb(252, 252, 252); 
}

.w-65{
    width: 65%;
}

.carousel{
    height: 431px;
    width: 665px;
}

@media (max-width: 576px){
    .carousel{
        height: 231px;
        width: 325px;
        font-size: 10px
    }
}

.list-off{
    list-style: none;
}


// Import de bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// clases para modificar la de por defecto de bootstrap

$newcolor: #3A4F70;
.btn-primary{
    @include button-variant($newcolor, #3A4F70);
}

$newcolortwo: #00000095;
.btn-outline-primary{
    @include button-variant($newcolortwo, #00000095);
}


